@media (max-width:600px){



body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    background-color: #ffff;
    margin-left: 30px;
}

.header{
    margin: 50px 130px;

}

.header-1{
    color: #222;
    
}

.header-2{
    display: flex;

}
.spans{
    display: flex;
    text-align: center;
    
}

.span-1{
    margin: 0px 10px;
}

.span-3{
    text-decoration: underline;
    margin: 0px 10px;
}

.spans-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 400px;
}

.span-2{
    text-decoration: underline;
}
.span-3{
    margin-left: 10px;
}
.span-4{
    margin-left: 10px;
}

.share{
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: underline;
}

.card{
    border: none;
    padding: 0px;
    width: 1030px;
    height: 410px;
    margin-left: 130px;
    display: flex;
    position: relative;
}

.img-1{
    width: 50%;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img-2{
    width: 300px;
    height: 200px;
    margin-right: 5px;
    


}

.img-3{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
}
.img-4{
    width: 300px;
    height: 200px;
    margin-top:20%;
    margin-left: -604px;
}

.img-5{
    width: 100%;
    height: 200px;
    margin-top: 20%;
    margin-left: 5px;
    border-bottom-right-radius: 10px;
    
}
.btn{
   position: absolute;
   bottom: 0px;
   right: 0px;
   margin: 30px 5px;
   background-color: white;
   color: black;
   padding: 10px;
   border-radius: 10px;
   display: flex;
   text-align: center;
   font-weight: lighter;
   border: 1px solid black;
   
}

.sub-head{
    margin-left: 130px;
    margin-top: 60px;
    display: flex;
    
}
.sub-head-img{
    margin-left: 130px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
}
.sub-head-child{
    display: flex;
    margin: 0px;
    align-items: center;

}

hr{
    width: 40%;
    margin-left: 120px;
    margin-top: 30px;
}

.sub-head-1{
    margin-top: 30px;
    margin-left: 130px;
}

.sub-head-child-2{
    display: flex;
    align-items: center;
    
}
.sub-head-head{
    margin-left:20px ;
}

.sub-head-2{
    margin-top: 20px;
    margin-left: 130px;
}
.sub-head-child-3{
    display: flex;
    align-items: center;
    
}
.sub-head-head-1{
    margin-left: 20px;
}

.sub-head-3{
    margin-top: 20px;
    margin-left: 130px;
}
.sub-head-child-4{
    display: flex;
    align-items: center;
}

.sub-head-head-2{
    margin-left: 20px;
}

.air-cover{
    margin-left: 130px;
    margin-top: 30px
}
.air-cover-img{
    width: 90px;
    margin-bottom: 10px;
}

.air-cover-a{
    margin-top: 10px;
    color: #222;
    font-weight: bold;
}

.details{
    margin-top: 20px;
    margin-left: 130px;
    line-height: 1.8;
    margin-bottom: 10px;
}
.details-a{
    margin-left: 130px;
    color: black;
    font-weight: bold;
}

.sleep-1{
    margin-left: 130px;
    margin-top: 20px;
}
.sleep{
    margin-left: 130px;
    margin-top: 20px;
    display: flex;
    
}

.main{
    border: 1px solid lightgray;
    width: 150px;
    height: 80px;
    padding: 20px;
    border-radius: 10px;
    margin-right: 10px;
    
}
.svg{
    display: flex;
    margin-bottom: 20px;
    
}

.svg-1{
    margin-right: 10px;
}

.offers{
    margin-left: 130px;
    margin-top: 20px
}
.svg-3{
    display: flex;
    align-items: center;
    margin: 10px;
}

.svgs{
    margin-right: 10px;
}

.svg-4{
    display: flex;
    align-items: center;
    margin: 10px;
}

.svg-5{
    display: flex;
    align-items: center;
    margin: 10px;
}

.svg-6{
    display: flex;
    align-items: center;
    margin: 10px;
}

.svg-7{
    display: flex;
    align-items: center;
    margin: 10px;
}

.svg-8{
    
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top:-190px ;
}

.svg-9{
    
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top:20px ;
}

.svg-10{
    
    display: flex;
    align-items: center;
    margin-left: 300px;
    margin-top:20px ;
}

.price-card{
    margin-left: 70%;
    margin-top: -1150px;
    border: 1px solid lightgray;
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}

.price-card-1{
    display: flex;
    align-items: center;

}

.price-card-svg{
    margin-left: 50px;
}

.price-card-span{
    text-decoration: underline;
}


.cards{
    border: 1px solid lightgray;
    width: 100px;
    height: 50px;
    padding: 20px;
    border-top-left-radius: 10px;
}

.cards-2{
    border: 1px solid lightgray;
    width: 100px;
    height: 50px;
    padding: 20px;
    border-top-right-radius: 10px;
    
}

.card-header{
   
    display: flex;
}

.cards-3{
    border:1px solid lightgray;
    width: 80%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px;
}

.btn-submit{
    margin-top: 20px;
    background-color: red;
    color: white;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.btn-span{
    margin-left: 70px;
    
}

.room-price{
    margin-right:80px
}

.hr-1{
    width: 90%;
    margin-left: 10px;
}

.hr-2{
    margin-right:80px
}

}

@media (min-width:600px){
    body{
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
        font-size: 14px;
        background-color: #ffff;
        margin-left: 30px;
    }

    .spans-2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 400px;
    }

    .img-1{
        width: 50%;
        margin-right: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .img-2{
        width: 300px;
        height: 200px;
        margin-right: 5px;
        
    
    
    }
    
    .img-3{
        width: 300px;
        height: 200px;
        box-sizing: border-box;
        border-top-right-radius: 10px;
    }
    .img-4{
        width: 300px;
        height: 200px;
        margin-top:20%;
        margin-left: -604px;
    }
    
    .img-5{
        width: 100%;
        height: 200px;
        margin-top: 20%;
        margin-left: 5px;
        border-bottom-right-radius: 10px;
        
    }
    .btn{
       position: absolute;
       bottom: 0px;
       right: 0px;
       margin: 30px 5px;
       background-color: white;
       color: black;
       padding: 10px;
       border-radius: 10px;
       display: flex;
       text-align: center;
       font-weight: lighter;
       border: 1px solid black;
       
    }
    
    .sub-head{
        margin-left: 130px;
        margin-top: 60px;
        display: flex;
        
    }
    .sub-head-img{
        margin-left: 130px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 5px;
    }
    .sub-head-child{
        display: flex;
        margin: 0px;
        align-items: center;
    
    }
    
    hr{
        width: 40%;
        margin-left: 120px;
        margin-top: 30px;
    }
    
    .sub-head-1{
        margin-top: 30px;
        margin-left: 130px;
    }
    
    .sub-head-child-2{
        display: flex;
        align-items: center;
        
    }
    .sub-head-head{
        margin-left:20px ;
    }
    
    .sub-head-2{
        margin-top: 20px;
        margin-left: 130px;
    }
    .sub-head-child-3{
        display: flex;
        align-items: center;
        
    }
    .sub-head-head-1{
        margin-left: 20px;
    }
    
    .sub-head-3{
        margin-top: 20px;
        margin-left: 130px;
    }
    .sub-head-child-4{
        display: flex;
        align-items: center;
    }
    
    .sub-head-head-2{
        margin-left: 20px;
    }
    
    .air-cover{
        margin-left: 130px;
        margin-top: 30px
    }
    .air-cover-img{
        width: 90px;
        margin-bottom: 10px;
    }
    
    .air-cover-a{
        margin-top: 10px;
        color: #222;
        font-weight: bold;
    }
    
    .details{
        margin-top: 20px;
        margin-left: 130px;
        line-height: 1.8;
        margin-bottom: 10px;
    }
    .details-a{
        margin-left: 130px;
        color: black;
        font-weight: bold;
    }
    
    .sleep-1{
        margin-left: 130px;
        margin-top: 20px;
    }
    .sleep{
        margin-left: 130px;
        margin-top: 20px;
        display: flex;
        
    }
    
    .main{
        border: 1px solid lightgray;
        width: 150px;
        height: 80px;
        padding: 20px;
        border-radius: 10px;
        margin-right: 10px;
        
    }
    .svg{
        display: flex;
        margin-bottom: 20px;
        
    }
    
    .svg-1{
        margin-right: 10px;
    }
    
    .offers{
        margin-left: 130px;
        margin-top: 20px
    }
    .svg-3{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    
    .svgs{
        margin-right: 10px;
    }
    
    .svg-4{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    
    .svg-5{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    
    .svg-6{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    
    .svg-7{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    
    .svg-8{
        
        display: flex;
        align-items: center;
        margin-left: 300px;
        margin-top:-190px ;
    }
    
    .svg-9{
        
        display: flex;
        align-items: center;
        margin-left: 300px;
        margin-top:20px ;
    }
    
    .svg-10{
        
        display: flex;
        align-items: center;
        margin-left: 300px;
        margin-top:20px ;
    }
    
    .price-card{
        margin-left: 70%;
        margin-top: -1150px;
        border: 1px solid lightgray;
        width: 300px;
        height: 400px;
        /* padding: 20px; */
        border-radius: 10px;
    }
    
    .price-card-1{
        display: flex;
        align-items: center;
    
    }
    
    
    
    .price-card-span{
        text-decoration: underline;
    }
    
    
    .cards{
        border: 1px solid lightgray;
        width: 100px;
        height: 50px;
        /* padding: 20px; */
        border-top-left-radius: 10px;
    }
    
    .cards-2{
        border: 1px solid lightgray;
        width: 100px;
        height: 50px;
        /* padding: 20px; */
        border-top-right-radius: 10px;
        
    }
    
    .card-header{
       
        display: flex;
    }
    
    .cards-3{
        border:1px solid lightgray;
        width: 80%;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        /* padding: 20px; */
    }
    
    .btn-submit{
        margin-top: 20px;
        background-color: red;
        color: white;
        width: 100%;
        /* height: 40px; */
        /* margin-bottom: 20px; */
    }
}